body {
    background-color: powderblue;
}
h1 {
    color: blue;
}

#output {
    background-color: #111;
    border: thick solid limegreen;
    color: white;
    min-height: 100px;
}

#errors {
    
}

.incomplete-task {
    color: brown;
}

.completed-task {
    color: yellow;
}

.current-task {
    color: purple;
    border: thin solid purple;
}
