body {
    background-color: #eee;
}
h1 {
    color: blue;
}

#output {
    background-color: #111;
    border: thick solid limegreen;
    color: white;
    min-height: 100px;
}

#errors {
    
}

.incomplete-task {
    color: brown;
}

.completed-task {
    color: yellow;
}

.current-task {
    color: purple;
    border: thin solid purple;
}

.task {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.task .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: monospace;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 20%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.task:hover .tooltiptext {
  visibility: visible;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

